apiVersion: v1
clusters:
- cluster:
    certificate-authority: ca.crt
    server: https://172.42.42.100:6443
  name: aws
contexts:
- context:
    cluster: aws
    namespace: blog
    user: alex
  name: aws-alex
current-context: "aws-alex"
kind: Config
preferences: {}
users:
- name: alex
  user:
    client-certificate: alex.crt
    client-key: alex.key
