apiVersion: v1
clusters:
- cluster:
    certificate-authority: ca.crt
    server: https://172.42.42.100:6443
  name: aws
contexts:
- context:
    cluster: aws
    namespace: blog
    user: hawk
  name: aws-hawk
current-context: "aws-hawk"
kind: Config
preferences: {}
users:
- name: hawk
  user:
    client-certificate: hawk.crt
    client-key: hawk.key
